/* *{
    border:2px solid red;
} */
body{
    background-color: #1F2937;
    margin:0;
}
h1 {
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 36px;
    color: white;
}
.kimbap{
    width:30%;
    height: auto;
    display:block;
    margin:auto;
    border-radius: 30px;
}
.list-container{
    display:flex;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: white;
}
.list-container a{
    font-size: 2em;
    text-decoration: none;
    color:white;
}
.home-link{
    display: flex;
    margin-left:auto;
    padding: 20px 0px 20px 100px;
}
.box{
    display:flex;
    align-items: center;
    justify-content: center;
}
.box-image{
    width:10%;
    height:auto;
}
.box-food{
    display:flex;
    flex-direction: column;
}
.container{
    display:flex;
    flex-direction: column;
}
.navbar{
    display:flex;
    align-items: center;
}