/* *{
    border:2px solid red;
} */
h1{
    font-family: 'Abel', sans-serif;
    font-size: 48px;
}
body{
    background-color: #FFFFFF;
    margin:0;
}
.box {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding:60px 0px 175px 0px;
}
.food-box {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right:80px;
}
.image-box img{
    width:500px;
    border-radius:80px;
}
.navbar{
    display:flex;
    padding: 20px 0px 20px 100px;
    align-items: center;
    background-color: #1F2937;
}
.home a{
    font-size:30px;
    text-decoration: none;
    color:white;
    font-family: 'Abel', sans-serif;
}
.galbi-ingredients{
    font-size: 1.2em;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:20px 20px 20px 150px;
    font-family: 'Abel', sans-serif;
}